
/* 2rem :
is the relative position 
2 * 16px = 32 px 
*/

:root {
  font-size: 16px;
  font-family: "Open sans";
  --text-primary: #b6b6b6;
  --text-secondary: #ececec;
  --bg-primary: #23232e;
  --bg-secondary: #141418;
}

body {
  color: black;
  background-color: white;
  margin: 0;
  padding: 0;
}

/* Changes the color and width of the scrollbar */
body::-webkit-scrollbar {
  width: 0.25rem;
}
body::-webkit-scrollbar-track {
  background: #1e1e24;
}

body::-webkit-scrollbar-thumb {
  background: #6649b8;
}

/* Adds the margin to the left for the Navbar to be added */
main {
  margin-left: 6rem;
  padding: 1rem;
}

/* Gives the properties to the Navbar on the Left */
.navbar {
  width: 5rem;
  height: 100vh;
  position: fixed;
  background-color: var(--bg-primary);
  transition: width 200ms ease;
}

/* Styling for all the li tags within the Ul tag  */
.navbar-nav {
  list-style: none;
  padding: 0;
  margin: 0;
  flex-direction: column;
  align-items: center;
}

/* Styling for each list item within the Navbar */
.nav-item {
    width: 100%;
}

.nav-item:last-child {
    margin-top: auto; 
}

/* Styling just for the Link <a> tags  */
.nav-link {
    display: flex;
    align-items: center;
    height: 5rem;
    color: var(--text-primary);
    text-decoration: none;
    filter: grayscale(100%) opacity(0.7);
    transition: var(--transition-speed);
}

.nav-link:hover { 
    filter: grayscale(0%) opacity(1);
    background: var(--bg-secondary);
    color: var(--text-secondary);
}

/* Styling just for the Navbar List Headers */
.link-text {
    /* Link text does not show statically */
    display: none; 
    margin-left:1rem;
}

/* Styling for only the SVG tags within the nav-link class */
.nav-link svg {
    min-width: 2rem;
    margin: 0 1.5rem;
}

.navbar:hover {
    width: 16rem;
}

/* link text shows when hovering over the Navbar  */
.navbar:hover .link-text {
    display: block;
}

.fa-primary { 
    color: #ff7eee;
}

.fa-secondary { 
    color:#df49a6;
}
.fa-primary,
.fa-secondary {
    transition: var(--transition-speed);
}

.logo {
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 1rem;
    text-align: center;
    color: var(--text-secondary);
    background: var(--bg-secondary);
    font-size: 1.5rem;
    letter-spacing: 0.3ch;
    width: 100%;
}

.logo svg {
    transform:rotate(0deg);
    transition: transform var(--transition-speed);
}

.navbar:hover .logo svg {
    transform: rotate(-180deg);
}